@import "tailwindcss";


.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 15px;
    font-size: 20px !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 15px;
    font-size: 20px !important;
}

@media (max-width:768px) {
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        display: none;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    display: none;
}
}


.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    padding: 8px;
    background-color: black;
}


.swiper-pagination-bullet {
    border-radius: var(--swiper-pagination-bullet-border-radius, 20%) !important;
}

.swiper {
    padding: 60px 0 !important;
}

.heroSlider {
    padding: 0 0 60px 0 !important;
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 89, 255, 0.2) 33%, aqua 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #263238;
}
@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg)}
} 